.statusBar{
    max-width: 0px;
    height: 3px;
    width: 100%;
    background-color: #7dc13d;
    position: fixed;
    top:0px;
    transition: 1s;
}
.statusBarRun{
    animation: expand 3s infinite;
    animation-iteration-count: 1;
}

.MainCont{
    opacity: 0;
    transform: scale(.9);
    transition: .3s;
}
.visible{
    animation: showall .5s infinite forwards;
    animation-iteration-count: 1;
}
@keyframes showall {
    0%{
        opacity: 0.5;
    }100%{
        opacity: 1;
        transform: scale(1);
    }
}

.flex{
    display: flex;
    align-items: center;
    justify-content: end;
}
.DashCards {
    background-color: #e5ebfc7c;
    border-radius: 20px;
    box-shadow: 0 8px 13px 5px rgba(86,86,86,.819);
    height: auto;
    margin: 50px auto auto;
    min-height: 150px;
    padding: 20px;
    transition: .3s;
    width: 35%;
}
.DashCards:hover{
    transform: scale(1.05);
}
 
div {
    display: block;
}
body {
    font-family: Tilt Neon,cursive;
    margin: 0;
}

h1{
    text-align: center;
}
 @media  only screen and (max-width:650px) {
    .flex{
        display: block;
    }
    .DashCards {  
        width: 90%;
        min-width: 75%;
        height: max-content;
        padding: 20px 10px;
        
        min-height: 0px;
    }
    .DashCards h1{
        padding: 0px;
        margin: 0px;
    }
    .DashCards h1:first-child{
        margin-bottom: 5px;
    }
    
 }
