::-webkit-scrollbar{
    display: none;
}
.MainCont{
    opacity: 0;
    transform: scale(.9);
    transition: .3s;
}
.visible{
    animation: showall .5s infinite forwards;
    animation-iteration-count: 1;
}
@keyframes showall {
    0%{
        opacity: 0.5;
    }100%{
        opacity: 1;
        transform: scale(1);
    }
}

.Loader {
    margin: auto;
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    margin-top: 100px;
    border: 10px solid black;
    border-right-color: rgba(255, 255, 255, 0);
    background-color: rgba(234, 234, 234, 0);
    animation: loader 1s infinite linear;
    box-sizing: border-box; /* added to account for border width in width/height */
  }
  .hide{
    display: none;
  }

  @keyframes loader {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  

.statusBar{
    max-width: 0px;
    height: 3px;
    width: 100%;
    background-color: #7dc13d;
    position: fixed;
    top:0px;
    transition: 1s;
}
.statusBarRun{
    animation: expand 3s infinite;
    animation-iteration-count: 1;
}
@keyframes expand{
    0%{
        max-width: 500px
    }10%{
        max-width: 500px
    }20%{
        max-width: 500px
    }30%{
        max-width: 550px;
    }40%{
        max-width: 600px;
    }50%{
        max-width: 700px
    }60%{
        max-width: 750px;
    }70%{
        max-width: 850px;
    }80%{
        max-width: 950px;
    }90%{
        max-width: 1000px;
    }100%{
        max-width: 4000px;
    }
}

#TopNav{
    background-color: #221e1e;
    width: 100%;
    height: 80px;
    box-shadow: 0 7px 7px rgba(54, 52, 52, 0.752);
    z-index: 2;
}
.Profile{
    position: absolute;
    right: 2px;
    top:2px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #000000;
    text-align: center;
    font-size: 40px;
    font-weight: -lighter;
    color: white;
    cursor: pointer;
    z-index: 1;
}
.profileMenu ul,.profileMenu li{
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.profileMenu li{
    margin-top: 10px;
}
.profileMenu ul{
    padding: 6px;
}
.profileMenu li:first-child{
    margin-top: 0px;
}
.profileContainer{
    width: 125px;
    height: 175px;
    position: absolute;
    right: 30px;
    top:20px;
    z-index: 56;
}
.profileMenu{
    width: max-content;
    height: max-content;
    text-align: center;
    background-color: #ffffff;
    border-radius: 10px;
    position: absolute;
    right: 2px;
    top:50px;
    z-index: 1;
}
#allusers{
    margin: auto;
    text-align: center;
}
#allusers td{
    padding: 5px;
}
#User_Circle_1_{
    fill: rgb(255, 255, 255);
}
#userPicture{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
#logo{
    display: inline-block;
    margin-top:10px;
    height: 60px;
    margin-left: 30px;
    margin-right: 50px;
}

body{
    background-image: url(../../public/static/5127031.jpg);
    background-size: cover;
    background-repeat:repeat;
    background-blend-mode: screen;
    overflow-y: auto;
    padding-bottom: 50px;
}
.centerText{
    max-width: 100%;
    text-align: center;
}
.centerElem{
    margin: auto;
}
.RightAlign{
    float: right;
    margin-right: 20px;
}
.Button{
    font-size: 17px;
    height: 30px;
    margin-top: 25px;
    border-radius: 5px;
    display: block;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: inherit;
}
.Button:hover{
    transition: 0.3s;
    transform: scale(1.01);
    box-shadow: 2px 2px 8px 0 #000000;
}
.smLoader {
    margin-left: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px dotted black;
    border-right-color: white;
    background-color: white;
    animation: loader 1s infinite linear;
    box-sizing: border-box; /* added to account for border width in width/height */
  }
  .hide{
    display: none;
  }

  @keyframes loader {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
#appName{
    cursor: pointer;
    display: block;
    margin-top: 20px;
    text-decoration: underline 1px;
    background-color: rgba(128, 170, 225, 0.85);
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    max-width: 100%;
}
#title{
    text-align: center;
    margin: auto;
    margin-top: 30px;
    font-size: 18px;
    width: 60%;
    background-color: #f5f5f578;
    border-radius: 5px;
    border: 1px solid;
}
#shortUrl,#changePass{
    margin: auto;
    margin-top: 50px;
    width: max-content;
    background-color: #597e6574;
    padding: 30px;
    border-radius: 10px;
    max-width: 100%;
    box-shadow: 0 8px 25px 5px rgba(2, 2, 2, 0.765);
}
#shortBtn{
    margin: auto;
    margin-top: 40px;
    border: none;
    border: 1px solid;
    background-color: #c6d1e2d1;
}
#bottomDesc {
    margin: auto;
    margin-top: 50px;
    text-align: center;
    padding: 10px;
    width: 60%;
    border: 1px solid;
    border-radius: 10px;
    background-color: #f5f5f536;
    position: relative;
    bottom: 10px;
  }
#urlInput{
    outline: none;
    border: none;
    border-bottom: 1px solid;
    text-align: center;
    font-size: 18px;
    color:black;
    background-color: #597e6574;
    border-radius: 10px;
    margin-top: 20px;
}
::placeholder {
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    word-spacing: 2px;
    color: #faf6ed;
  }
.inputText{
    outline: none;
    border: none;
    padding-left: 5px;
    border-bottom: 2px solid;
    border-radius: 5px;
    font-size: 18px;
    color: #2c2f36;
    background-color: #00000000;
    margin-top: 20px;
    width: 250px;
    box-sizing: border-box;
    display: inline-block;
    text-align:left;
    padding-left: 10px;
}
::placeholder {
    color: #505768;
    font-size: 13px;
  }
:disabled{
    background-color: #989494a8;
    color: #414141;
}
.Links{
    color: #475ed1;
    display: block;
}
.submitBtn{
    font-size: 15px;
    margin: auto;
    border: 1px solid;
    background-color: rgba(255, 255, 255, 0.85);
}
#savedLinks{
    margin: auto;
    padding: 10px;
    margin-top: 30px;
    background-color: #a1bd9e;
    text-align: center;
    width: max-content;
    border-radius: 10px;
}
#name{
    border-radius: 10px;
    padding: 10px;
    width: max-content;
    text-align: center;
    text-shadow:  2px 2px 15px #63666e;
    margin: auto;
}
#mobileTable{
    display: none;
}
body{
    font-family: 'Tilt Neon', cursive;
    margin: 0px;
}
span{
    color: rgb(86, 48, 189);
    cursor: pointer;
}
textarea{
    background-color: #a1bd9e;
    outline: none;
    border: none;
    resize: vertical;
    color: black;
    height: auto;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: end;
}
.HomeCards{
    padding: 20px;
    width: 90%;
    min-height: 300px;
    height: auto;
    background-color: #e5ebfc7c;
    margin: auto;
    border-radius: 20px;
    box-shadow: 0 8px 13px 5px rgba(2, 2, 2, 0.819);
    margin-top: 50px;
}
.HomeCards h3,.HomeCards h1{
    max-width: 60%;
    text-align: center;
}
.HomeCards img{
    border-radius: 20px;
}
li{
    cursor: pointer;
}
.actbtn{
    cursor: pointer;
    margin-right: 10px;
    border-radius: 5px;
    border: none;
    background-color: #505768;
}
.actbtn img{
    filter: invert(1);
    height: 25px;
    color: white;
    padding: 2px;
}
.editbtn{
    background-color: #d15454;
}
.savebtn{
    background-color: #475ed1;
}
.userLink{
    display: block;
    margin: auto;
    width: max-content;
}
.userLink input{
    border:none;
    outline: none;
    border-radius: 5px;
    height: 25px;
    margin-right: 10px;
    border-bottom: 1px solid;
    background-color: #00000000;
    box-sizing: border-box;
    display: inline-block;
    text-align:left;
    padding-left: 10px;
    
}
.moreOptions{
    display: inline-block;
    background-color: white;
    width: max-content;
    padding: 5px;
    text-align: center;
    border-radius: 3px;
    
}
.moreOptions ul,.moreOptions li{
    font-size: medium;
    list-style-type:none;
    margin: 0px;
    padding: 0px;
}
.Mobile{
    display: none;
}
.moreOptions {
    right: 0px;
    width: max-content;
    overflow: hidden;
    position: unset;
    transform: translateY(100px);
    transition: 0.5s;
  }
  .hideOp{
    transform: translateY(100px);
  }
  .expandContainer{
    background-color: #00000000;
    height: max-content;
    position: absolute;
    bottom: 40px;
    right: 5px;
    overflow: hidden;
  }
  .showOpts {
    transform: translateY(0px);
  }
  
  @keyframes showOpts {
    0% {
      max-height: 0;
      
    }
    100% {
      max-height: 58px;
      
    }
  }

  @keyframes hideOpts {
    0% {
       
        background-color: #37378f;
    }
    100% {
        max-height: -100px;
      transform: translateX(400);
    }
  }
  
  .forms{
    display: block;
    margin: auto;
    margin-top: 100px;
    text-align: center;
    width: 25%;
    padding: 20px;
    background-color: rgba(184, 178, 178, 0.535);
    border-radius: 10px;
  }
  .forms input[type=text],.forms input[type=password],.forms input[type=email] {
    text-align: left;
    width: 90%;
    font-size: 17px;
    margin-top: 30px;
  }
  ::placeholder{
    font-size: 17px;
    font-weight: 200;
    padding-left: 10px;
    text-align: left;
  }
  #showPass{
    border: 2px solid;
    border-radius: 50%;
  }
  .forms input[type=otp]{
    border-radius: 0px;
    width: 30%;
  }
  button{
    cursor: pointer;
  }

  .formInlinebtn{
    background-color:rgb(255, 255, 255) ;
    border: none;
    font-size:medium;
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid black;
    
  }
.formTitle{
    padding-left: 20px;
    text-align: left;
}
.addanim{
    transition: 1s;
}
.sendotpanimate{
    width: 30%;
    opacity: 20%;
}
.Desktop{
    width: 90%;

}
.Desktop table{
    width: 100%;
}
.Desktop input{
    width: 97%;
    margin-right: 10px;
}
.Desktop td:nth-child(3),.Desktop td:nth-child(4){
    width: 20px;
    margin: 0px;
}
@media only screen and (max-width: 650px) {
    .Loader {
        margin: auto;
        width: 40vw;
        height: 40vw;
        border-radius: 50%;
        color: #37378f;
        margin-top: 100px;
        border: 12px solid black;
        border-right-color: rgba(255, 255, 255, 0);
        background-color: rgba(234, 234, 234, 0);
        animation: loader 1s infinite linear;
        box-sizing: border-box; /* added to account for border width in width/height */
      }
    @keyframes expand{
        0%{
            max-width: 50px
        }10%{
            max-width: 50px
        }20%{
            max-width: 50px
        }30%{
            max-width: 100px;
        }40%{
            max-width: 110px;
        }50%{
            max-width: 110px
        }60%{
            max-width: 200px;
        }70%{
            max-width: 250px;
        }80%{
            max-width: 300px;
        }90%{
            max-width: 500px;
        }100%{
            max-width: 800px;
        }
    }
    body{
        background-image: url(../../public/static/5127031.jpg);
        background-size: cover;
        min-height: 100vh;
      }
    .forms{
        width: 80%;
    }
    ::placeholder{
        font-weight: 400; 
    }
    .Desktop{
        display: none;
    }
    .Mobile{
        display: block;
        margin: auto;
    }
    .userLink{
        width: 100%;
    }
    .Mobile table{
        width: 100%;
    }
    .Mobile input{
        width: 95%;
        margin-right: 0px;
    }
    .moreOptions{
        right: 30px;
    }
    .Mobile .actbtn{
        width: 100%;
        margin: 0px;
        padding: 0px;
    }
    .Mobile .infoclose{
        width: 50px;
        height: max-content;
        background-color: #00000000;
        margin-top: -5px;
    }
    .infoCard{
        max-width: 90%;
        margin: auto;
    }
    .dash{
        display: block;
    }
    .DashCards{
        min-width: 75%;
    }
            .HomeCards div:first-child {
              order: 2;
            }
        
            .HomeCards div:last-child {
              order: 1;
            }
        .HomeCards{
            flex-direction: column;
            justify-content: center;
            padding: 0px;
            padding: 10px;
        }
        .HomeCards h3,.HomeCards h1{
            max-width: 90%;
        }
        .HomecrdMnuHed{
            text-align: center;
            margin-right: 10px;
        
        }
        .sync,.sort{
            margin-left: 10px;
            margin-right: 10px;
        }
    #TopNav{
        background-color: #221e1e;
        width: 100%;
        height: 90px;
        box-shadow: 0 7px 7px rgba(54, 52, 52, 0.752);
    }
    #logo{
        max-width: 70%;
        padding-top: 10px;
        display: inline;
        margin: auto;
        margin-left: 10px;
    }
    .mobNavSlB{
        background-color: inherit;
        width: 20%;
        display: inline;
        margin-top: 15px;
        margin-right: 10px;
    }
    .mobNavSlB button{
        margin: 0px;
        display: block;
        margin: auto;
        float:none;
        border: none;
        width: 100%;
    }
    .mobNavSlB button:first-child{
        margin-bottom: 7px;
    }
    .Profile{
        max-width: 100%;
    }
    .profileContainer{
        top: 12px;
        right: 12px;
    }
    #savedLinks{
        display: none;
    }
    #mobileTable{
        display: block;
        margin-top: 100px;
    }
    #appName{
        width: 100%;
    }
    #shortUrl{
        max-width: 80%;
    }
    #changePass{
        max-width: 80%;
    }
    .inputText{
        width: 100%;
    }
    textarea {
        box-sizing: border-box;
        height: auto !important;
        overflow: auto;
      }
    #title{
        width: 90%;
    }
    #bottomDesc{
        width: 90%;
    }
  }
#mobileTable table{
    border: 1px solid;
    margin-top: 20px;
    overflow: hidden;
    max-width: 100%;
    margin: auto;
}
#shortUrl table,#changePass table{
    text-align: right;
}
#shortUrl td,#changePass td{
    vertical-align: bottom;
}
.imgBtn{
    cursor: pointer;
}
#googleLogin{
    margin-top: 10px;
    border: 1px solid #ffffff00;
    cursor: pointer;
    display: flex;
    align-items: center;
    width: max-content;
    margin: auto;
    background-color: #e7e7e700;
    border-radius: 5px;
    padding-right: 10px;
    transition: 0.5s;
}
#googleLogin:hover{
    background-color: #91909054;
    border: 1px solid;
    transform: scale(1.02);
}