body{
    background-image: url(../../public/static/5127031.jpg);
    background-size: cover;
    min-height: 100vh;
    padding-bottom: 50px;
}
a{
    text-decoration: none;
    color: black;
}

::-webkit-scrollbar{
    display: none;
}


